@model Prismproject_A.Models.BoxMain

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BoxMain</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoxNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoxNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SampleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SampleType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Boxlocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Boxlocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F5)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
