@model IEnumerable<Prismproject_A.Models.BoxMain>

@{
    ViewData["Title"] = "Index";
}

<h1>Boxes</h1>
<div class="row justify-content-between">
    <div class="col-md-4">
        <div class="form-group mb-4 ">
            <label>Search box by box number:</label>
            <div class="input-group">
                <input type="text" id="Search" placeholder="Search" class="form-control" />
                <span style="font-size:24px;">&#x1F50D</span>
            </div>
        </div>
    </div>

    <br />
    <div class="col-md-4">
        <p>
            <a asp-action="Create" class="add"><h4 class="float-end">Add new box</h4></a>
        </p>
    </div>

</div>

<div class="table-container">
<table class="table">
    <thead>
        <tr>
            <th>
                Box Number
            </th>
            <th>
                Sample type
            </th>
            <th>
                Box location
            </th>
            <th>
                @Html.DisplayNameFor(model => model.F4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.F5)
            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="Search">
            <td>
                @Html.DisplayFor(modelItem => item.BoxNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SampleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boxlocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F5)
            </td>
                    <td class="space-x-2">
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="inline-block px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600 focus:bg-blue-600 focus:outline-none">Edit</a>  |
                        <a href="@Url.Action("Details", new { id = item.Id })" class="inline-block px-3 py-1 bg-yellow-500 text-white rounded hover:bg-yellow-600 focus:bg-yellow-600 focus:outline-none">Details</a>  |
                        <a href="@Url.Action("Delete", new { id = item.Id })" class="inline-block px-3 py-1 bg-red-500 text-white rounded hover:bg-red-600 focus:bg-red-600 focus:outline-none">Delete</a>
                    </td>
        </tr>
}
    </tbody>
</table>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text1, text2) {
            if (text1.indexOf(text2) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>
