@model Prismproject_A.Models.Report

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Report</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Site)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoxNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoxNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SampleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SampleType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Barcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Barcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoxRow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoxRow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoxColumn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoxColumn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TbldateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TbldateAdded)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
